.button-container {
  color: white;
  border: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 4px;

  &.primary {
    background-color: var(--primary);
  }

  &.secondary {
    background-color: var(--secondary);
  }

  &:hover {
    cursor: pointer;
  }
  .text {
    font-weight: 600;
    font-size: 16px;
  }
}
